<section id="new-todos">
  <h3>Create a new todo...</h3>
  <!--Simple form used to create a new todo for the 'app-new-todos' component-->
  <form>
    <div class="form-group">
      <input type="text" v-model="todo" placeholder="Create a new todo e.g. lean Vue.js"
      class="form-control">
    </div>
    <div class="form-group">
      <input type="submit" value="Done" class="pull-right btn btn-success btn-default"
      @click.stop.prevent="addTodo">
    </div>
    <div class="form-group">
      <input type="submit" value="Discard" class="pull-right btn btn-danger btn-default"
      @click.stop.prevent="discardTodo">
    </div>
  </form>
</section>
