<section id="uncompleted-todos">
  <h3>Uncompleted Todos</h3>
  <!--v-show directive is used to conditionally render this message-->
  <p v-show="noTodos" class="text-danger">No todos to display!</p>
  <ul>
    <!--Render list of todos contained in the 'todos' data property of the
  'app-uncompleted-todos' component-->
    <li v-for="todo in todos"><!--v-for directive is used to render the 'list'
      of todos found in the 'todos' data property of the component using the HTML
    structure which is nested within this 'li'-->
      <div class="well">{{todo.todo}}<!--simple interpolation-->
        <div>
          <!--note the @click directives which bind the buttons to methods
          defined on the component's 'methods' property-->
          <a href="" class="btn btn-primary btn-default"
          @click.stop.prevent="markComplete(todo)">Mark Complete</a>
          <a href="" class="btn btn-warning btn-default"
          @click.stop.prevent="editTodo(todo)">Edit Todo</a>
          <a href="" class="btn btn-danger btn-default"
          @click.stop.prevent="deleteTodo(todo)">Delete Todo</a>
        </div>
      </div>
    </li>
  </ul>
</section>
